<%= "<%= simple_form_for(#{admin? ? '[:admin, @' + singular_name + ']' : '@' + singular_name}, url: '/#{'admin' if admin?}/#{controller_file_path}/'+@#{singular_name}.id.to_s, html: { multipart: true }) do | f | %%>" %>
    <%= editable_attributes_and_except_sorting.map{ |attr| 
            component = "<div class='form-group'>\n        "
            component += "<label class='col-sm-2 control-label'><%= #{class_name}.human_attribute_name('#{attr.name}') %%></label>\n        "
            component += "<div class='col-sm-10'>\n            " 

            belongs_to_assoc = association_by_foreign_key attr

            # 針對不同資料型態會呈現出不同的元件
            if belongs_to_assoc 
                assoc_class_name = belongs_to_assoc.name.to_s.classify
                component += "<%= f.collection_select :#{attr.name}, #{assoc_class_name}.none, :id, :id, {include_blank: true},{class: 'form-control select2'} %%>\n            "
            elsif attr.type == "string"
                if is_enum? attr
                    component += "<%= f.input_field :#{attr.name}, collection: #{class_name}.#{attr.name.pluralize}_i18n, class: 'form-control select2', include_blank: false %%>\n            "
                else
                    component += "<%= f.input_field :#{attr.name}, class:'form-control' %%>\n            " 
                end
            elsif attr.type == "text"
                component += "<%= f.input_field :#{attr.name}, class:'form-control froala-editor' %%>\n            " 
            elsif attr.type == "datetime"
                component += "<%= f.input_field :#{attr.name}, as: :string, class:'form-control datetimepicker' %%>\n            " 
            elsif attr.type == "boolean"
                component += "<%= f.input_field :#{attr.name}, as: :boolean %%>\n            " 
            elsif %w(integer float decimal).include? attr.type
                if is_enum? attr
                    component += "<%= f.input_field :#{attr.name}, collection: #{class_name}.#{attr.name.pluralize}_i18n, class: 'form-control select2', include_blank: false %%>\n            "
                else
                    component += "<%= f.input_field :#{attr.name}, class:'form-control' %%>\n            " 
                end
            end

            component += "<%= f.full_error :#{attr.name}, class: 'full_error' %%>\n        " 
            component += "</div>\n        "
            component += "<div class='clear'></div>\n   " 
            component += "</div>"
            component 
        }.join("\n    ") 
    %>

    <%= "<%= f.submit t('button.save'), class: 'an-btn an-btn-primary' %%>" %>
    <%= "<%= link_to t('button.back'), #{'admin_' if admin?}#{controller_file_path}_path, class: 'an-btn an-btn-default' %%>" %>
<%= "<% end %%>" %>

<%= "<%= render 'common/attachments', model: @#{singular_name} %%>" if attachable? %>

<%= "<%= content_for :post_scripts do %%>" %>
<%= "  <%= javascript_include_tag '#{'admin/' if admin?}#{controller_file_path}' %%>" %>
<%= "<% end %%>" %>
