<%= "<% readonly = (defined? readonly) ? readonly : false -%%>" %>

<%= "<%= simple_form_for(#{admin? ? '[:admin, @' + singular_name + ']' : '@' + singular_name}, url: '/#{'admin' if admin?}/#{controller_file_path}/'+@#{singular_name}.id.to_s, remote: true, html: { multipart: true }) do | f | %%>" %>
    <%= editable_attributes_and_except_sorting.map{ |attr| 
            component = "<div class='#{form_group_class_of_form}'>\n        "
            component += "<label class='col-sm-2 #{form_group_class_of_form}'><%= #{class_name}.human_attribute_name('#{attr.name}') %%></label>\n        "
            component += "<div class='col-sm-10'>\n            " 

            belongs_to_assoc = association_by_foreign_key attr

            # 針對不同資料型態會呈現出不同的元件
            if belongs_to_assoc 
                assoc_class_name = belongs_to_assoc.name.to_s.classify
                component += "<%= f.collection_select :#{attr.name}, #{assoc_class_name}.where(id: @#{singular_name}.#{attr.name}), :id, :id, {include_blank: true},{class: '#{form_control_class} #{input_class_of_form}', disabled: readonly} %%>\n            "
            elsif attr.type == "string"
                if is_enum? attr
                    component += "<%= f.input_field :#{attr.name}, collection: #{class_name}.#{attr.name.pluralize}_i18n, class: '#{form_control_class} #{input_class_of_form} select2', include_blank: false, disabled: readonly %%>\n            "
                else
                    component += "<%= f.input_field :#{attr.name}, class: '#{form_control_class} #{input_class_of_form}', readonly: readonly %%>\n            " 
                end
            elsif attr.type == "text"
                component += "<%= f.input_field :#{attr.name}, class: '#{form_control_class} #{input_class_of_form} froala-editor', readonly: readonly %%>\n            " 
            elsif attr.type == "datetime"
                component += "<%= f.input_field :#{attr.name}, as: :string, class: '#{form_control_class} #{input_class_of_form} datetimepicker', disabled: readonly %%>\n            " 
            elsif attr.type == "boolean"
                component += "<%= f.input_field :#{attr.name}, as: :boolean, disabled: readonly %%>\n            " 
            elsif %w(integer float decimal).include? attr.type
                if is_enum? attr
                    component += "<%= f.input_field :#{attr.name}, collection: #{class_name}.#{attr.name.pluralize}_i18n, class: '#{form_control_class} #{input_class_of_form} select2', include_blank: false, disabled: readonly %%>\n            "
                else
                    component += "<%= f.input_field :#{attr.name}, class: '#{form_control_class} #{input_class_of_form} numeric', readonly: readonly %%>\n            " 
                end
            end

            component += "<%= f.full_error :#{attr.name}, class: 'full_error' %%>\n        " 
            component += "</div>\n        "
            component += "<div class='clear'></div>\n    " 
            component += "</div>"
            component 
        }.join("\n\n    ") 
    %>

    <%= "<div class='form-group'>" %>
    <%= "    <div class='col-sm-12'>" %>
    <%= "        <%= f.submit t('button.save'), class: 'btn btn-primary pull-right' unless readonly %%>" %>
    <%= "        <%= link_to t('button.back'), back_#{'admin_' if admin?}#{controller_file_path}_path, class: 'btn btn-default pull-right m-r-10' %%>" %>
    <%= "        <%= link_to t('button.back'), back_#{'admin_' if admin?}#{controller_file_path}_path, class: 'btn btn-default pull-right m-r-10' %%>" %>
    <%= "    </div>" %>
    <%= "    <div class='clear'></div>" %>
    <%= "</div>" %>
<%= "<% end %%>" %>

<%= "<%= render 'common/attachments', model: @#{singular_name}, upload: true, destroy: true %%>" if attachable? %>

<%= "<%= content_for :post_scripts do %%>" %>
<%= "    <%= javascript_include_tag '#{'admin/' if admin?}#{controller_file_path}' %%>" %>
<%= "<% end %%>" %>
