<%= "<% master_show_tab = (defined? master_show_tab) ? master_show_tab : '' -%%>" %>

<div class="m-content">
<% unless tab.nil? -%>
        <div class="an-bootstrap-custom-tab">
            <div class="an-tab-control">
                <ul class="nav nav-tabs text-left" role="tablist">
                    <%= "<% {'all'=>t('helpers.datatables.tab_all')}.merge(#{class_name}.#{tab.pluralize}_i18n).each_with_index do |tab, index| %%>" %>
                        <%= "<li id='<%= tab[0] %%>_tab' role='presentation' class='tab <%= 'active' if index == 0 %%>'>" %>
                            <%= "<a href='##{singular_name}_<%= tab[0] %%>_tabpanel' aria-controls='#{singular_name}_#{tab}_tab' role='tab' data-toggle='tab' data-tab_key='<%= tab[0] %%>' class='#{singular_name}_#{tab}_tab'>" %>
                                <i class="ion-happy-outline"></i>
                                <%= "<%= \"\#{tab[1]}(\#{index == 0 ? @#{controller_file_name}_all_row_count : @#{controller_file_name}_#{tab}_group_row_counts[tab[0]] || 0})\" %%>" %>
                            </a>
                        </li>
                    <%= "<% end %%>" %>
                </ul>
            </div>

            <div class="tab-content">
                <%= "<% {'all'=>t('helpers.datatables.tab_all')}.merge(#{class_name}.#{tab.pluralize}_i18n).each_with_index do |status, index| %%>" %>
                    <%= "<div role='tabpanel' class='tab-pane fade in <%= 'active' if index == 0 %%>' id='#{singular_name}_<%= #{tab}[0] %%>_tabpanel'>" %>
                        <%= "<%= render '#{'admin/' if admin?}#{controller_file_name}/table', tab_key: #{tab}[0] %%>" %>
                    </div>
                <%= "<% end %%>" %>
            </div>
        </div>
<% else -%>
        <div class="an-bootstrap-custom-tab">
            <div class="an-tab-control">
                <%= "<%= render '#{'admin/' if admin?}#{controller_file_name}/table', tab_key: 'all' %%>" %>
            </div>
        </div>
<% end -%>

    </div>
</div>

