<%= "<% master_show_tab = (defined? master_show_tab) ? master_show_tab : '' -%%>" %>

<%= begin_datatables_panel_tags %>

    <%= begin_datatables_panel_header_tags %>
        <%= begin_datatables_panel_header_caption_tags %>
        <%= end_datatables_panel_header_caption_tags %>
        <%= begin_datatables_panel_header_tools_tags %>
        <%= end_datatables_panel_header_tools_tags %>
    <%= end_datatables_panel_header_tags %>

    <%= begin_datatables_panel_body_tags %>
        <%= begin_search_wrapper_tags %>
            <%= "<%= render '#{'admin/' if admin?}#{controller_file_name}/search_filter' %%>" %>
        <%= end_search_wrapper_tags %>

        <%= begin_helper_block_tags %>
            <%= "<%= link_to t('button.new', model: #{class_name}.model_name.human),
                new_#{'admin_' if admin?}#{singular_controller_name}_path(
                    master_show_tab: master_show_tab,
                ), 
                class: 'btn btn-primary m-b-10' %%>" %>
        <%= end_helper_block_tags %>

        <%= begin_tabs_block_tags %>
<% unless tab.nil? -%>
            <%= begin_tabs_control_tags %>
                <ul class="nav nav-tabs text-left" role="tablist">
                    <%= "<% {'all'=>t('helpers.datatables.tab_all')}.merge(#{class_name}.#{tab.pluralize}_i18n).each_with_index do |tab, index| %%>" %>
                        <%= "<li id='<%= tab[0] %%>_tab' role='presentation' class='tab <%= 'active' if index == 0 %%>'>" %>
                            <%= "<a href='##{singular_name}_<%= tab[0] %%>_tabpanel' aria-controls='#{singular_name}_#{tab}_tab' role='tab' data-toggle='tab' data-tab_key='<%= tab[0] %%>' data-tab_column_name='#{tab}' class='#{singular_name}_#{tab}_tab'>" %>
                                <i class="ion-happy-outline"></i>
                                <%= "<%= \"\#{tab[1]}(\#{index == 0 ? @#{controller_file_name}_all_row_count : @#{controller_file_name}_#{tab}_group_row_counts[tab[0]] || 0})\" %%>" %>
                            </a>
                        </li>
                    <%= "<% end %%>" %>
                </ul>
            <%= end_tabs_control_tags %>

            <%= begin_tabs_content_tags %>
                <%= "<% {'all'=>t('helpers.datatables.tab_all')}.merge(#{class_name}.#{tab.pluralize}_i18n).each_with_index do |#{tab}, index| %%>" %>
                    <%= "<div role='tabpanel' class='tab-pane fade in <%= 'active' if index == 0 %%>' id='#{singular_name}_<%= #{tab}[0] %%>_tabpanel'>" %>
                        <%= "<%= render '#{'admin/' if admin?}#{controller_file_name}/table', tab_key: #{tab}[0] %%>" %>
                    </div>
                <%= "<% end %%>" %>
            <%= end_tabs_content_tags %>
<% else -%>
            <%= begin_tabs_control_tags %>
                <%= "<%= render '#{'admin/' if admin?}#{controller_file_name}/table', tab_key: 'all' %%>" %>
            <%= end_tabs_control_tags %>
<% end -%>
        <%= end_tabs_block_tags %>

    <%= end_datatables_panel_body_tags %>

<%= end_datatables_panel_tags %>
