<%= begin_tabs_block_tags %>
            <%= begin_tabs_control_tags %>
                <ul class="nav nav-tabs text-left" role="tablist">
                    <%= "<% @tabs.each_with_index do |tab, index| %%>" %>
                        <%= "<li role='presentation' class='<%= 'active' if index == 0 %%>'>" %>
                            <%= "<a href='<%= change_show_tab_#{'admin_' if admin?}#{controller_file_path.singularize}_path(tab: tab[:name]) %%>' aria-controls='<%= tab[:name] %%>_tab' role='tab' data-toggle='' data-remote='true' class='<%= tab[:name] %%>_tab'>" %>
                                <i class="ion-happy-outline"></i>
                                <%= "<%= #{class_name}.model_name.human %%>" %>
                            </a>
                        </li>
                    <%= "<% end %%>" %>
                </ul>
            <%= end_tabs_control_tags %>

            <%= begin_tabs_content_tags %>
                <%= "<% @tabs.each_with_index do |tab, index| %%>" %>
                    <%= "<div role='tabpanel' class='tab-pane fade in <%= 'active' if index == 0 %%>' id='<%= tab[:name] %%>_tabpanel'>" %>
                        <%= "<%= render \"#{'admin/' if admin?}#{controller_file_path}/tabs/\#{tab[:name]}_tab\", #{singular_name}: @#{singular_name} if index == 0 %%>" %>
                    </div>
                <%= "<% end %%>" %>
            <%= end_tabs_content_tags %>
<%= end_tabs_block_tags %>

<%= "<%= hidden_field_tag '#{singular_name}_id', @#{singular_name}.id %%>" %>
<%= "<%= hidden_field_tag 'master_show_tab', params[:master_show_tab] %%> <%# 讓從網址列可以連到此show頁面並切換頁籤 %%>" %>

