<div class="table-responsive">
    <%= "<table id='<%= tab_key %%>_#{controller_file_name}_table' data-tab_column_name='#{tab}' data-tab_key='<%= tab_key %%>' class='table table-bordered table_breaking #{controller_file_name}_table m-b-20'>" %>
        <thead>
            <tr>
                <% if contains_sorting_column? -%>
                    <%= "<th class='all th-header'><%= #{class_name}.human_attribute_name('sorting') %%></th>" %>
                <% end -%>
                <% editable_attributes_and_except_sorting.each do | attr | -%>
                    <%= "<th class='all th-header'><%= #{class_name}.human_attribute_name('#{attr.name}') %%></th>" %>
                <% end -%>
                <%= "<th class='all th-header'><%= t('helpers.datatables.actions') %%></th>" %>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
