<%= "<table id='#{plural_name}_datatable' class='table table-bordered table_breaking'>" %>
    <thead>
        <tr>
<% if contains_sorting_column? -%>
            <%= "<th class='all'><%= #{class_name}.human_attribute_name('sorting') %%></th>\n            " %>
<% end -%>
            <%= editable_attributes_and_except_sorting.map{ |attr| "<th class='all'><%= #{class_name}.human_attribute_name('#{attr.name}') %%></th>" }.join("\n            ") %>
            <%= "<th class='all'><%= t('helpers.datatables.actions') %%></th>" %>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
