<%
jserb = <<-EOF
<% if @#{singular_name}.errors.full_messages.blank? %%>
    swal('<%= t('helpers.form.create_success', model: #{class_name}.model_name.human) %%>', '', 'success');
        .then(function(){
            window.location.href = '<%= "#{'admin_' if admin?}#{controller_file_path}_url(@#{singular_name}, ignore_set_navigation: true) %%>';
        });
<% else %%>
    $( "span.full_error" ).remove();

    swal('<%= t('helpers.form.create_error', model: #{class_name}.model_name.human) %%>', '<%= @#{singular_name}.errors.full_messages.join('\\n') %%>', 'error');

    <% @#{singular_name}.errors.messages.each do |message| %%>
        $( "<span class='error full_error'><%= message[1].join('; ') %%></span>" ).insertAfter( "##{singular_name}_<%= message[0].to_s %%>" );
    <% end %%>
<% end %%>

      EOF
-%>

<%= jserb.strip %>
