<div class="an-body-topbar wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="an-page-title">
        <h2><%= "<%= t('helpers.page_title.index', model: #{class_name}.model_name.human) %%>" %></h2>
    </div>
</div>

<%= "<%= render '#{'admin/' if admin?}#{controller_file_name}/index_datatables' %%>" %>

<%= "<% content_for :post_scripts do %%>" %>
<%= "    <%= javascript_include_tag '#{'admin/' if admin?}#{controller_file_name}' %%>" %>
<%= "    <%= javascript_include_tag '#{'admin/' if admin?}#{controller_file_name}_datatables' %%>" %>
<%= "<% end %%>" %>
