<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator"><%= "<%= t('helpers.page_title.index', model: #{class_name}.model_name.human) %%>" %></h3>
      <%= "<%# Use add_path(:label, :url) to chain items to breadcrumb %%>" %>
      <%= "<%= render_breadcrumb %%>" %>
    </div>
  </div>
</div>

<%= "<%= render '#{'admin/' if admin?}#{controller_file_name}/index_datatables' %%>" %>

<%= "<% content_for :post_scripts do %%>" %>
<%= "  <%= javascript_include_tag '#{'admin/' if admin?}#{controller_file_name}' %%>" %>
<%= "  <%= javascript_include_tag '#{'admin/' if admin?}#{controller_file_name}_datatables' %%>" %>
<%= "<% end %%>" %>
