<div class="an-body-topbar wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="an-page-title">
        <h2><%= "<%= t('helpers.page_title.index', model: #{class_name}.model_name.human) %%>" %></h2>
    </div>
</div>

<div class="an-single-component with-shadow">
    <div class="an-component-header search_wrapper">
        <%= "<%= link_to t('button.new', model: #{class_name}.model_name.human), new_#{'admin_' if admin?}#{singular_name}_path, class: 'an-btn an-btn-primary' %%>" %>
        <div class="an-sidebar-search p-0 searchbar">
            <a class="collapse-sidebar-search-btn js-search-toggle" href="#"><i class="icon-search"></i></a>
            <div class="an-search-field topbar js-search-show-clicked">
                <%= "<input type='text' id='keyword_search' placeholder='<%= t('helpers.form.keyword_search') %%>' class: 'an-form-control no-redius border-bottom m-0 text_color'>" %>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="an-component-body">
        <div class="an-helper-block">
            <div class="table-responsive">
                <%= "<%= render 'table' %%>" %>
            </div>
        </div>
    </div>
</div>

<%= "<% content_for :post_scripts do %%>" %>
<%= "  <%= javascript_include_tag '#{'admin/' if admin?}#{plural_name}_datatables' %%>" %>
<%= "<% end %%>" %>
