<h2><%= "<%= t('helpers.page_title.new', model: #{class_name}.model_name.human) %%>" %></h2>

<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4><%= "<%= #{class_name}.model_name.human %%>" %></h4>
        </div>
        <div class="panel-body">
            <%= "<%= render '#{'admin/' if admin?}#{controller_file_name}/form' %%>" %>
        </div>
    </div>
</div>

